
*{
    
    padding: 0%;
    margin: 0%;
    }
    
    
    body{
        background-color: #1a1a1a;
    }
    
    .banner{
    height: 450px;
    width: 850px;
    background-image: url("./assents/Banner.png"); /*ele adiciona uma imagem como fundo*/
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
    
    }
    
    li a{
    
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        padding: 25px;
     }
    
    ul{
        display: flex; /*ativa a propriedade de alinhamento*/
        flex-direction: row; /*coloca os elementos na horizontal*/
    }
    
    li{
    list-style: none; /*remove os pontos das lista*/
    }
    
    nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }
    
     #logo{
    height: 120px;
    width: 120px;
     }
    
     .bi{
    font-size: 40px;
    color: #4c544c;
    
     }
    
     .texto-banner{
        color: #ffffff;
       font-size: 25px;
       
     }
    
     .btn{
        height: 45px;
        width: 115px;
        border-radius: 55px;/*Deixa a  borda redonda*/
        border: none; /*Serve para remover a borda*/
        color: #ffffff;
        font-size: 19px;
        background-color: #333333;
        margin: 30px;/*distancia o botao do texto*/
     }
     
     .banner-estrutura{
        width: 220px;
        margin: 30px;
     }
     
     .section-banner {
        display: flex;
        justify-content: center;  /* Centraliza horizontalmente */
        padding: 40px 0;   /* Mantém espaço ao redor */
        align-items: center;
       
        
        }
    
        .titulo {
       color: #ffffff;
       font-size: 35px;
       font-weight: bold;
       }
    
        .estrutura-titulo{
       justify-content: center;
       display: flex;
       padding: 30px;
      }
      
      .produtos{
       height: 380px;
       width: 250px;
      }
      .valor{
       color: #ffffff;
       font-weight: bold;
       font-size: 30px;
      }
    
      .card{
       width: 250px;
       height: 430px;
      }
  
    
      .card-texto{
       justify-content: center;
       display: flex;
       flex-direction: column;
       align-items: center;
      }
    
      .cores{
       height: 20px;
       width: 15px;
       border-radius: 50%;

     
      }
      .vermelho{
       background-color: brown;
      }
      .azul{
       background-color: blue;
      }
      .amarelo{
       background-color: chartreuse;
      }
      .branco{
        background-color: #ffffff;
      }
      .verde{
        background-color: darkolivegreen;
      }
      .preto{
        background-color: black;
      }

      .caixa-cores{
      flex-direction: row;
     display: flex;
     padding: 5px;

     }
     
     .carousel{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px; /*distancia iguais entre os elementos*/
     }
     .banner-xbox{ 
      background-image: url("./assents/x-box.png");
      height: 450px;
    width: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
     }
     .texto-xbox{
      color: aliceblue;
      font-size: 35px;
      font-weight: 700;
     }
     .banner-xbox{
      justify-content: end;
      display: flex;

     }
     .xbox-caixa{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 120px ;
        margin: 20px;
        

;

     }
     .footer {
      
      margin-top: 500px;
      background: #1a1919;
      color: #dfd4d4;
      padding: 40px 0;
      font-family: Arial, sans-serif;


  }
  
  .footer-container {
      width: 90%;
      max-width: 1100px;
      margin: auto;
      display: flex;
      gap: 40px;
  }
  
  .footer-col h3 {
      margin-bottom: 10px;
      font-size: 18px;
  }
  
  .footer-col a {
      display: block;
      color: #cccccccc;
      text-decoration: none;
      margin-bottom: 6px;
  }
  
  .footer-col a:hover {
      color: #ffffffcb;
  }
  
  .footer-texto {
      width: 90%;
      max-width: 1100px;
      margin: 30px auto;
      font-size: 14px;
      color: #cccccc88;
      line-height: 1.5;
  }
  
  .footer-social {
      text-align: center;
      margin: 20px 0;
  }
  
  .footer-social img {
      width: 300px;
      margin: 0 10px;
      filter: invert(1);
  }
  
  .footer-links {
      text-align: center;
      margin-top: 10px;
  }
  
  .footer {
   background: #222;
   color: #fff;
   padding: 40px 0;
   font-family: Arial, sans-serif;
}

.footer-container {
   width: 90%;
   max-width: 1100px;
   margin: auto;
   display: flex;
   gap: 40px;
}

.footer-col h3 {
   margin-bottom: 10px;
   font-size: 18px;
}

.footer-col a {
   display: block;
   color: #ccc;
   text-decoration: none;
   margin-bottom: 6px;
}

.footer-col a:hover {
   color: #fff;
}

.footer-texto {
   width: 90%;
   max-width: 1100px;
   margin: 30px auto;
   font-size: 14px;
   color: #ccc;
   line-height: 1.5;
}


.footer-links {
   text-align: center;
   margin-top: 10px;
}

.footer-links a {
   color: #ccc;
   text-decoration: none;
   font-size: 14px;
}

.footer-links a:hover {
   color: #fff;
}

.footer-links span {
   margin: 0 8px;
   color: #888;
}
  
  .footer-links a:hover {
      color: #817e7ecc;
  }
  
  .footer-links span {
      margin: 0 8px;
      color: #a19c9cc2;
  }
  .coluna {
    display: flex;
    flex-direction: column;  /* força ficar uma embaixo da outra */
    gap: 10px;
}

